<%- include('partials/header.ejs') %>

<div class="investment-plots container text-center">
    <div class=”row align-items-center”>
        <div class=”col-6”>
            <h3 class="my-5">Your Investment Details</h3>
        </div>
        <div class="col-6">
            <div id="investment-graph" class="align-self-center justify-content-center"></div>
        </div>
    </div>
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>

    let small_cap = parseFloat("<%= tot[0] %>");
    let mid_cap = parseFloat("<%= tot[1] %>");
    let large_cap = parseFloat("<%= tot[2] %>");

    // category plot
    let data = [{
        values: [small_cap, mid_cap, large_cap],
        labels: ['Small Cap', 'Mid Cap', 'Large Cap'],
        type: 'pie'
    }];

    let layout = {
        height: 700,
        width: 800,
        paper_bgcolor:"#FFF3"
    };
    
    Plotly.newPlot('investment-graph', data, layout);
</script>

<%- include('partials/footer.ejs') %>